*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #0f700dc0;
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor:none;
}
.score{
    font-size: 4em;
    margin-bottom: .5em;
}
.board{
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 70px;
}
.hole{
    background-color: rgb(74, 12, 12);
    border-radius: 50%;
    box-shadow: inset 0 10px 0 7px rgb(26, 3, 3),
    inset 0 20px 20px 15px rgba(0, 0, 0, .3),
    inset 0 0 5px rgba(0, 0, 0, .5);
    position: relative;
    overflow: hidden;
}
.hole .mole{
width: 70%;
position:absolute;
left: 50%;
transform:translate(-50%);
bottom: 0;
animation: rise .3s ease-out;
}
@keyframes rise{
    0%{
        transform: translateX(-50%) translateY(-100%);
    }
    100%{
                transform: translateX(-50%) translateY(0);
    }
}
.cursor{
    height: 110px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
background-image: url(./img/hammer.png);
background-size: cover;
transform: translate(-20%,-20%);
transition: transform .1s;
pointer-events: none;
}
.cursor.active{
transform: translate(-20%, -20%) rotate(-45deg);
}